---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redlib
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redlib
  template:
    metadata:
      labels:
        app: redlib
        app.kubernetes.io/name: redlib
    spec:
      containers:
        - name: redlib
          image: "quay.io/redlib/redlib:latest@sha256:dffb6c5a22f889d47d8e28e33411db0fb6c5694599f72cf740c912c12f5fc1c6"
          securityContext:
            capabilities:
              drop:
                - ALL
            runAsUser: 65534
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          env:
            - name: REDLIB_SFW_ONLY
              value: "off"
            - name: REDLIB_DEFAULT_SHOW_NSFW
              value: "on"
            - name: REDLIB_DEFAULT_BLUR_SPOILER
              value: "on"
            - name: REDLIB_DEFAULT_BLUR_NSFW
              value: "on"
            - name: REDLIB_DEFAULT_USE_HLS
              value: "on"
            - name: REDLIB_DEFAULT_LAYOUT
              value: "clean"
          ports:
            - containerPort: 8080
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "125m"
              memory: "128Mi"
