OIDC_CLIENT_SECRET=
OIDC_CLIENT_ID=
OIDC_ISSUER_URL=https://login.microsoftonline.com/<TENANT_ID>/v2.0
OIDC_SCOPES=6dae42f8-4368-4678-94ff-3960e28e3630/user.read openid profile email
OIDC_USE_PKCE=true
OIDC_USE_ACCESS_TOKEN=true